.main {
min-height: 100vh;
background-size: 100%;
display: grid;
background-image: linear-gradient(136deg, #F5F7FA 0%, #F4F6F8 100%);
background-repeat: no-repeat;
background-position: center;
position: relative;
@media screen and (min-width: 1440px){
    margin-top:56px;
    background-size: 80%;
}
}
.page-body {
min-height: 100vh;
background-size: 100%;
place-items: center !important;
padding-top: 50px;
justify-content: center !important;
}
.header{
  height:5.8rem;
  border-bottom: 1px solid #195e96;
}
.title{
  font-family: Poppins-Bold;
font-size: 20px;
color: #195e96;
letter-spacing: 0.1px;
text-align: left;
text-transform:uppercase;
margin: 15px 15px;
@media screen and (min-width: 768px) and (max-width: 1023px) {
  font-size: 20px;
}
@media screen and (max-width: 764px) {
  font-size: 15px;
}
}
.title-bottom {
  font-family: Poppins-Bold;
font-size: 18px;
color: #195e96;
font-weight: 600;
text-align: left;
margin: 15px 15px;
@media screen and (max-width: 764px) {
  font-size: 15px;
}
}
.loading {
  font-style: italic;
  color:#195e96;
  justify-content: center;
}
